/* === Common background-properties start ===*/
.bgCommon--props{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* === Common background-properties end ===*/
.hamburger__wrapper{
    width: 30px !important;
    height: 3px !important;
    background-color: var(--white) !important;
    transition:all 0.5s;
    position: relative;
    cursor: pointer;
}
.header--home.stickyHeader{
    background-color:var(--primary-color) !important;
    transition:all 0.5s;
}
.nav__btn--home{
    border:2px solid var(--white) !important;
    /* position:relative; */
}
.nav__btn--home::before{
    /* content:"";
    position:absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%; */
    background-color:var(--secondary-color) !important;
}
.nav__link--home:hover{
    color:var(--white) !important;
}

.about_btn--wrapper{
    padding-bottom: 3.438em;
    margin-top: 7rem;
}
.donate_btn--home{
    padding: 1.8em 3.6em;
    height: 5rem !important;
    border:1px solid var(--secondary-color);
}
.donate_btn--home:hover{
    background:transparent;
}
.group-img-section{
    background-image: url("./assets/images/home-version/group-img.webp");
    height: 80.6rem;
    margin-top: 2rem;
}

/* === Tharapies style start === */
.tharapies__card {
    object-fit: contain;
    border:2px solid var(--border-color);
    position:relative;
}
.tharapies__card::before{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.6);
    transition:all 0.5s ease;
}
.tharapies__card:hover::before{
    background:rgba(0,0,0,0.1);
    cursor: pointer;
}
/* === Tharapies style end === */

/* services style start */
.service{
    max-width: 100%;
    height: 30rem;
    background-color: var(--primary-color);
}
/* services style end */

/* === Experience style start === */
.experices-people{
    /* background-image: url("./assets/images/home-version/rect-tilt-orange-bg.svg"); */
    padding: 0px;
}

.col-img-6 >img , .col-img-7 >img{
    /* height: 58rem; */
}

/* === Contribute style start === */
.contribute__col--top{
    height: 35rem;
    padding-top: 3.5em;
    padding-inline:2em;
}
.contribute__col--btn{
    display: inline-block;
    width: 100% !important;
    padding: 1.25em 2.5em;
    text-align: center;
    font-size: clamp(1.2rem, 6vw + 1rem, 2.4rem);
}
/* === Contribute style end === */

.empower{
    width: 100%;
    height: 25vh;
    position:relative;
    overflow: hidden;
}
.empower__title{
    position:absolute;
    font-size: clamp(3.2rem, 6vw + 1rem, 8rem) !important;
    animation: move-text 10s linear infinite;
    -webkit-animation: move-text 10s linear infinite;
}

@keyframes move-text {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
  }
.join__btn{
    position: relative;
    overflow: hidden;
    transition:all 0.5s ease-in-out;
}

.join__btn::before{
    content:"";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    z-index: -1;
    transform:translateX(-100%);
    transition:all 0.5s ease-in-out;
}
.join__btn:hover::before{
    transform:translateX(0) !important;
}
.join__btn:hover{
    color:var(--primary-color) !important;
}

.stand--text{
    text-align: right;
    margin-top: -50px;
}

  /* ==== Media Queries start ==== */
  @media only screen and (min-width:36em){  
    .donate_btn--home{
        padding: 1.9em 3.8em;
        height: 5.7rem !important;
    }
  }
  @media only screen and (min-width:48em){
    .donate_btn--home{
        padding: 2em 4em;
        height: 6rem !important;
    }
    .col-img-6 >img , .col-img-7 >img{
        height: 58rem;
    }
    .s-card{
        margin-left: 3rem;
    }
  }
  @media only screen and (min-width:62em){
    .about_btn--wrapper{
        margin-top: 0rem;
    }
    .donate_btn--home{
        padding: 2.1em 4.2em;
    }
    .experices-people{
        padding: 120px 0 0 120px;
    }
    .empower{
        height: 30vh;
    }
  }
  @media only screen and (min-width:75em){
    .donate_btn--home{
        padding: 2.2em 4.4em;
    }
    .contribute__col--top{
        height: 35rem;
        padding-top: 3.4375em;
        padding-inline:2.5em 1.25em;
    }
    .contribute__col--btn{
        padding: 2rem 9rem;
    }
  }
  @media only screen and (min-width:87.5em){
    .donate_btn--home{
        padding: 2.3em 4.6em;
    }
  }
  /* ==== Media Queries end ==== */