.header{
    height: 8rem;
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    z-index:999;
    background-color: var(--white);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: 300ms;
}
.header.stickyHeader{
    box-shadow:0 5px 2px var(--lighter-box-shadow);
}
.header__row{
    display: flex;
    padding:1em 0;
}
.logo_wrapper{
    width: 174.5px;
}
.header_logo--img{
    width: 12rem;
}
.navbar{
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding-top: 1.5rem !important;
    padding-bottom: 0rem !important;
}
.navbar .nav__lists{
    display: flex ;
    justify-content:center;
    column-gap:7em;
    position: relative;
}

.navbar .nav__link{
    font-family: "dm sans";
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    font-style: normal;
    color: var(--primary-color);
}
.nav__btn--wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 227px;
    height: 51px;
    border:2px solid #4d148c;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:992px){
    .navbar{
        display: none;
    }
    .nav__btn--wrapper,  .navbar .nav__lists{
        display: none;
    }
}
.nav__btn{
    width: 227px;
    height: 51px;
    border:2px solid var(--primary-color);
    font-family: "dm sans";
    position: relative;
    overflow: hidden;
    transition: all 1s;
    z-index: 1;
    display: flex !important;
    align-items: center;
    justify-content: center ;
}
.nav__btn .btn-text{
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 16px;
    font-style: normal;
}
.hamburger__wrapper{
    display: flex;
    align-self: flex-end;
    margin-bottom: -10px;
}
.hamburger_icon{
   font-size: 4.3rem;
   color:var(--primary-color);
   
}
/* Play Video Styles */
.video__section{
    margin: 12rem 0;
}
.video__row{
    height: 100%;
    margin:0 auto;
    background-image: url("../images/purple-bg-rect.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50rem;
}
.video__col{
    display: flex;
    align-items: center;
    justify-content: center;
}
.video__col > img{
     height: 120px;
}
